.preheadline{
    color: #66aa33;
    font-weight: bold;
}

.log_in, h4, h5{
    color: white;
}

img{
    object-fit: cover;
}

/* Container helps the image and the text */
.container{
    position: relative;
    text-align: center;
}

.centered{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}